<h1>PUT YR MOOD YOU NEED TO HAIKU AWAY</h1>

<form method="post" action="/moods/new">

<input type="text" name="name" placeholder="miserable or no?"><br><br>
<input type="textarea" name="haikus[name]" placeholder="haiku"><br><br>
<input class="btn btn-primary" type="submit" name="create" value="Create">
</form>