<center> 
<p>Write a beautiful haiku that really captures the essence of being <%= @mood.name %></p>
<br> 

<form method="post" action="/haikus/new/<%= @mood.id %>">
<textarea type=text name="name" placeholder="a beautiful haiku"> </textarea>
<p></p>

<p> <input class="btn btn-primary" type="submit" name="create" value="Create"> </p>
</form>

</center>

<p> or head back to <a href="/haikus">  all of your previous moods</a> to see your emotional journey </p>